* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.header {
  width: 100%;
  height: 90vh;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #461220;
  background-image: linear-gradient(315deg, #461220 0%, #e0d4ae 74%); }
  .header__photo {
    width: 24rem;
    height: 24rem; }

.gradient-text {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.aboutme {
  padding: 2rem;
  background-image: linear-gradient(315deg, #e0d4ae 0%, #461220 74%); }
  .aboutme h1 {
    text-align: center;
    font-size: 4rem;
    padding: 4rem 0; }
  .aboutme__box {
    box-shadow: -10px 10px 24px -4px rgba(0, 0, 0, 0.75);
    background: transparent;
    width: 40%;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
    font-size: 2.2rem; }
  .aboutme__skills {
    box-shadow: -10px 10px 24px -4px rgba(0, 0, 0, 0.75);
    background: transparent;
    width: 70%;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
    font-size: 2.2rem;
    color: grey; }
    .aboutme__skills p {
      padding: 0 2rem; }
    .aboutme__skills .html,
    .aboutme__skills .css,
    .aboutme__skills .java,
    .aboutme__skills .react,
    .aboutme__skills .python,
    .aboutme__skills .github,
    .aboutme__skills .sql,
    .aboutme__skills .node {
      height: 3rem;
      width: 90%;
      background: grey;
      border-radius: 2rem;
      margin-bottom: 2rem;
      overflow: hidden; }

.bar {
  height: 100%;
  background: darkgrey; }

.html-pbar {
  width: 80%; }

.css-pbar {
  width: 90%; }

.java-pbar {
  width: 60%; }

.node-pbar {
  width: 80%; }

.react-pbar {
  width: 70%; }

.python-pbar {
  width: 60%; }

.github-pbar {
  width: 70%; }

.sql-pbar {
  width: 60%; }
